* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: none;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kroigs";
  src: url("../fonts/KROIGS-Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vw;
  font-family: "Neue Montreal";
  font-size: 24px;
  scroll-behavior: smooth;
}

nav,
footer {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  color: #fff;
  mix-blend-mode: difference;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  z-index: 7;
  cursor: pointer;
  text-transform: uppercase;
}

footer {
  bottom: 0;
}

.main {
    width: 100%;
    height: 150%;
    position: relative;
}

.animation:after {
  content: "";
  z-index: 5;
  opacity: 0.05;
  background-image: url(https://assets-global.website-files.com/651d15fb8f27f4a03c14ae88/651d15fb8f27f4a03c14afa4_5d8424ac4ffed73f4d72846e_5c06f51d6e75c933fe05c728_giphy.gif);
  background-position: 0 0;
  background-attachment: fixed;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide:not(#slide-1) {
  transform-origin: center;
  z-index: 2;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
